body{
  padding: 0px;
  margin: 0px
}
.app{
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  width: 310px;
}
.user{
  width: 300px; 
}
.content{
  width: 300px;
  margin: 10px 0px;
  border-width: 1px;
}
